.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    outline: 1px solid black;
    border-radius: 16px;
    gap: 8px;
    background-color: white;
}

.card:hover {
    outline: 2px solid black;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

p,
input,
button {
    font-size: 20px;
}


.quantityContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.quantity {
    text-align: center;
    width: 4rem;
    border-radius: 16px;
    border: 1px solid black;
}

.increment {
    width: 35px;
    height: 35px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid black;
}

.increment:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.addToCart {
    border-radius: 16px;
    border: 2px solid black;
    padding: 0.5rem;
}

.addToCart:hover {
    background-color: rgb(186, 186, 186);
    cursor: pointer;
}